<div class="col-lg-3 col-md-4 mb-4">
    <div class="card" style="width: 250px;">
        <img class="card-img-top" src="./assets/img/featured/feature-2.jpg" alt="card image">
        <div class="card-body">
            <h4 class="card-title">{{ p.name }}</h4>
            <p class="card-text">{{ p.price }}</p>
            <a href="#" class="btn btn-primary">More</a>
        </div>
    </div>
</div>

<!-- <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
    <div class="featured__item">
        <img src="./assets/img/featured/feature-1.jpg" />
        <div class="featured__item__text">
            <h6><a href="#">Crab Pool Security</a></h6>
            <h5>$30.00</h5>
        </div>
    </div>
</div> -->