<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <table class="table table-hover table-dark table-stripped table-bordered">
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Fee</th>
                    <th>Discount</th>
                    <th>Gender</th>
                </tr>
                <tr *ngFor="let n of student; let p = index;">
                    <td>{{ p+1 }}</td>
                    <td>{{ n.name }}</td>
                    <td>{{ n.age }}</td>
                    <td>{{ n.fee | currency : '&#8377;'}}</td>
                    <td>{{ n.fee | discount : n.gender : n.age | currency : '&#8377;' }}</td>
                    <td>{{ n.gender }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>


<!-- 
    demo in directives in <p> tag in example below .
    -->
    <p appDemo>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis non, voluptatibus tenetur similique vero eligendi magni qui vitae iusto impedit at nulla nemo blanditiis neque quisquam excepturi ea repudiandae quam.</p>


