<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">



  

  <!-- Humberger Begin -->
  <div class="humberger__menu__overlay"></div>
  <div class="humberger__menu__wrapper">
      <div class="humberger__menu">
          <a href="#"><img src="/assets/img/logo.png" alt=""></a>
      </div>
      <div class="humberger__menu__cart">
          <ul>
              <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
              <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
          </ul>
          <div class="header__cart__price">item: <span>$150.00</span></div>
      </div>
      <div class="humberger__menu__widget">
          <div class="header__top__right__language">
              <img src="/assets/img/language.png" alt="">
              <div>English</div>
              <span class="arrow_carrot-down"></span>
              <ul>
                  <li><a href="#">Spanis</a></li>
                  <li><a href="#">English</a></li>
              </ul>
          </div>
          <div class="header__top__right__auth">
              <a href="#"><i class="fa fa-user"></i> Login</a>
          </div>
      </div>
      <nav class="humberger__menu__nav mobile-menu">
          <ul>
              
              <li><a href="./shop-grid.html">Shop</a></li>
              <li><a href="#">Pages</a>
                  <ul class="header__menu__dropdown">
                      <li><a href="./shop-details.html">Shop Details</a></li>
                      <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                      <li><a href="./checkout.html">Check Out</a></li>
                      <li><a href="./blog-details.html">Blog Details</a></li>
                  </ul>
              </li>
              <li><a href="./blog.html">Blog</a></li>
              <li><a href="./contact.html">Contact</a></li>
          </ul>
      </nav>
      <div id="mobile-menu-wrap"></div>
      <div class="header__top__right__social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-pinterest-p"></i></a>
      </div>
      <div class="humberger__menu__contact">
          <ul>
              <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
              <li>Free Shipping for all Order of $99</li>
          </ul>
      </div>
  </div>
  <!-- Humberger End -->

  <!-- Header Section Begin -->
  <header class="header">
      <div class="header__top">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-6">
              </div>
                  <div class="col-lg-6 col-md-6">
                      <div class="header__top__right">
                          <ng-template [ngIf]="_loginServ.isLoggedIn()" [ngIfElse]="beforeLogin">
                            <div class="header__top__right__auth">
                                <a style="display: inline-block !important;" routerLink="/dashboard"> Dashboard</a>
                                <a style="display: inline-block !important; margin-left: 20px;" routerLink="/profile"> Profile</a>

                                <a style="display: inline-block !important; margin-left: 20px;" (click)="_loginServ.logout()"> Logout</a>
                            </div>

                          </ng-template>
                          <ng-template #beforeLogin>
                            <div class="header__top__right__auth">
                                <a style="display: inline-block !important;" routerLink="/login"><i class="fa fa-user"></i> Login</a>
                                <a style="display: inline-block !important; margin-left: 20px;" routerLink="/signup"><i class="fa fa-user"></i> Signup</a>
                            </div>
                          </ng-template>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-3">
                  <div class="header__logo">
                      <a href="./index.html"><img src="/assets/img/logo.png" alt=""></a>
                  </div>
              </div>
              <div class="col-lg-6">
                  <nav class="header__menu">
                      <ul>
                          <li class="active"><a rotuerLink="">Home</a></li>
                          <li><a routerLink="/contact">Contact</a></li>
                          <!-- <li><a href="#">Pages</a>
                              <ul class="header__menu__dropdown">
                                  <li><a href="./shop-details.html">Shop Details</a></li>
                                  <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                  <li><a href="./checkout.html">Check Out</a></li>
                                  <li><a href="./blog-details.html">Blog Details</a></li>
                              </ul>
                          </li> -->
                          <li><a routerLink="/about">About</a></li>
                          
                      </ul>
                  </nav>
              </div>
              <div class="col-lg-3">
                  <div class="header__cart">
                      <ul>

                          <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                      </ul>
                      
                  </div>
              </div>
          </div>
          <div class="humberger__open">
              <i class="fa fa-bars"></i>
          </div>
      </div>
  </header>
  <section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <!-- <pre>{{ categoryAll | json }}</pre> -->
                    <ul>
                        <li *ngFor="let c of categoryArr">
                            <a href="#">{{ c.name }}</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    
                </div>
                <div class="hero__item set-bg" data-setbg="/assets/img/hero/banner.jpg">
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
