<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-2">
            <div class="card">
                <form [formGroup]="category">
                    <div class="card-header">
                        {{ category.value._id ? "Update" : "Add New"}} Category
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Category</label>
                            <input formControlName="name" [ngClass]="{'is-invalid' : isSubmit && category.controls.name.errors}" type="text" class="form-control" />
                            <div class="invalid-feedback" *ngIf="isSubmit && category.controls.name.errors">
                                <div *ngIf="category.controls.name.errors.required">
                                    Please Insert Category
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="{{ category.value._id ? 'Update' : 'Add New'}}" (click)="submit()"  class="btn btn-primary"/>
                            <span *ngIf="category.value._id">
                                <button class="btn btn-sm btn-danger ml-3" (click)="edit_cancel()">Cancel</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-2">
            <table class="table table-hover table-bordered table-dark table-stripped">
                <tr>
                    <th>S.No.</th>
                    <th>Category Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr *ngFor="let c of allCategory; let n = index">
                    <td>{{ n+1 }}</td>
                    <td>{{ c.name }}</td>
                    <td><button class="btn btn-sm btn-info" (click)="askEdit(c)">Edit</button></td>
                    <td><button class="btn btn-sm btn-danger" (click)="askDelete(c)" data-toggle="modal" data-target="#delModal">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="delModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              Delete
            </div>
            <div class="modal-body">
                <p>Are You sure want to Delete this <b *ngIf="tempCategory">{{ tempCategory.name }}</b></p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-danger" data-dismiss="modal" (click)="delete()">Delete</button>
                <button class="btn btn-sm btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>