<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2>This is Images Upload</h2>
                </div>
                <div class="card-body">
                    <label>Images Uploaded</label>
                    <input  #file type="file" class="form-control" />
                </div>
                <div class="card-footer">
                    <button (click)="upload(file)" class="btn btn-info">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>